<%- include('./partials/header') %>

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/stylesheets/patientProf.css">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">

<section id="content" class="container">
    <!-- Begin .page-heading -->
    <div class="page-heading" style="background-color: ivory;border-radius: 2%;margin-top: 5rem;">
        <div class="media clearfix">
          <div class="media-left pr30">
            <a href="#">
              <img class="media-object mw150" src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="..." style="height: 15rem;width: 12rem;">
            </a>
          </div>                      
          <div class="media-body va-m" style="padding-top: 4rem;">
            <h2 class="media-heading"><%= doctor.firstName %> <%= doctor.lastName %>
              <small> <%= doctor.firstName %> yrs</small>
            </h2>
            <ul>
              <li>Department: <%= doctor.department  %></li>
              <li>Specialization: <%= doctor.specialization %> </li>
              <li>Blood Group: <%= doctor.blood %> </li>
            </ul>
          </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
          <div class="panel">
            <div class="panel-heading">
              <span class="panel-icon">
                <i class="fa fa-star"></i>
              </span>
              <span class="panel-title">Contact Details</span>
            </div>
            <div class="panel-body pn">
              <table class="table mbn tc-icon-1 tc-med-2 tc-bold-last">
                <tbody>
                  <tr>
                    <td>
                      <span class="fas fa-hospital-user text-info"></span>
                    </td>
                    <td>Username</td>
                    <td><%= doctor.username %></td>
                  </tr>
                  <tr>
                    <td>
                      <span class="fas fa-phone-alt text-warning"></span>
                    </td>
                    <td>Phone No.</td>
                    <td><%= doctor.phone %></td>
                  </tr>
                  <tr>
                    <td>
                      <span class="fas fa-envelope-open-text text-primary"></span>
                    </td>
                    <td>Email Add.</td>
                    <td><%= doctor.email %></td>
                  </tr>
                  <tr>
                    <td>
                      <span class="fas fa-id-card text-info"></span>
                    </td>
                    <td>Aadhar No.</td>
                    <td><%= doctor.aadhar %></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          
          <div class="panel">
            <div class="panel-heading">
              <span class="panel-icon">
                <i class="fa fa-star"></i>
              </span>
              <span class="panel-title">Doctor Info</span>
            </div>
            <div class="panel-body pb5">

              <h6>MBBS </h6>

              <h4>KEM Mumbai</h4>
              <p class="text-muted"> Address
                <br> Student Health Center, June 2010 - 2012
              </p>

              <hr class="short br-lighter">

              <h6>MD in field</h6>

              <h4>AIIMS Delhi</h4>
              <p class="text-muted"> University of Missouri, Columbia
                <br> Student Health Center, June 2010 through Aug 2011
              </p>

              <hr class="short br-lighter">

              <h6>Address</h6>

              <h4><%= doctor.city %>, <%= doctor.state %></h4>
              <p class="text-muted pb10"> Address
                <br> <%= doctor.address %>
              </p>

            </div>
          </div>
        </div>

        <div class="col-md-8">

          <div class="tab-block">
            <ul class="nav nav-tabs">
              <li class="active">
                <a href="#tab1" data-toggle="tab">Patients</a>
              </li>
              <li>
                <a href="#tab1" data-toggle="tab">Appoinments</a>
              </li>
              <li>
                <a href="#tab1" data-toggle="tab">Surgeries</a>
              </li>
            </ul>
            <div class="tab-content p30" style="height: 730px;">
              <div id="tab1" class="tab-pane active">
                
            <div class="text-right" style="margin-bottom: 1.8rem;">
                <a class="btn btn-primary" href="register">Add a Patient</a>
            </div>

            <!--card-->
            <div class="row no-gutters" style="border: 1.5px solid black;border-radius: 2%;margin-bottom: 2rem;">
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title"><strong>Patient Name</strong></h5>
                    <p class="card-text">| Blood Group: A+ | Phone No.:  9307092650 | <br>| Email Address:  agsgjaJHA@gmail.com |</p>
                    <a class="btn btn-xs btn-success" href="#" style="margin:1rem;margin-bottom: 1.5rem;">View / add prescription</a>
                  </div>
                </div>
              </div>
            </div>
          <!--card-->
          <div class="row no-gutters" style="border: 1.5px solid black;border-radius: 2%;margin-bottom: 2rem;">
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title"><strong>Patient Name</strong></h5>
                <p class="card-text">| Blood Group: A+ | Phone No.:  9307092650 | <br>| Email Address:  agsgjaJHA@gmail.com |</p>
                <a class="btn btn-xs btn-success" href="#" style="margin:1rem;margin-bottom: 1.5rem;">View / add prescription</a>
              </div>
            </div>
          </div>
        </div>
        <!--card-->
              <div id="tab2" class="tab-pane"></div>
              <div id="tab3" class="tab-pane"></div>
              <div id="tab4" class="tab-pane"></div>
            </div>
          </div>
        </div>
      </div>
  </section>


   <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<%- include('./partials/footer') %>
