<%- include('./partials/header') %>

<link rel="stylesheet" type="text/css" href="/stylesheets/doctor.css"></link>

<h1 style="margin-top:50px">Here goes the Doctors Profile</h1>

<div class="main">
    <ul class="cards">
        <% doctors.forEach(function(doctor){ %>
      <li class="cards_item">
        <div class="card">
          <div class="card_image"><img src="https://medcare-demo.detheme.com/video/wp-content/uploads/sites/6/2016/02/doctor-profile03.jpg"></div>
          <div class="card_content">
            <h2 class="card_title"><%= doctor.firstName %> <%= doctor.lastName %></h2>
            <p class="card_text">| Blood Group: <%= doctor.blood %> | Phone No.:  <%= doctor.phone %> | <br>| Email Address:  <%= doctor.email %> |</p>
            <a href="/showDoctors/<%= doctor._id %>"><button class="btn card_btn">More Info</button></a>
          </div>
        </div>
      </li>
      <% }); %>
    </ul>
  </div>



<%- include('./partials/footer') %>